#aboutMain{
    /* display: flex;
    justify-content: center; */
    margin-top: 5em;
    margin-bottom: 5em;
}

#name{
    color: #a47551;
    font-size: 50px;
    text-align: center;
}

#imgDiv{
    display: flex;
    justify-content: center;
}

#bioPic{
    width: 35em;
    height: auto;
}

#bioDiv{
    display: flex;
    justify-content: center;
    background-color: #d0b49f;
    margin: 5em;
}

#bioText{
    padding: 1em;
    text-align: justify;
    font-size: 25px;
    font-family: 'Trebuchet MS';
}

@media (max-width: 480px) {
    #aboutMain{
        width: 750px;
    }
    #imgDiv{
        display: flex;
        justify-content: center;
    }
    #bioPic{
        width: 35em;
        height: auto;
    }
    
}